

$color1: rgb(255, 213, 189);




// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
// $font1: 'Dosis', sans-serif;



@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap'); //nunito

//Porbando
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//$font1: 'Fredoka One', cursive;
$font1: 'Suez One', serif;
$font2: 'Abel', sans-serif;
$font3: 'Ubuntu', sans-serif;
$font4: 'Nunito Sans', sans-serif;



$mobile: "only screen and (max-width : 815px)";