@import "../constants/Constants.scss";
@import '~csshake';

.product_container{
    width: 20%;
    height: 190px;
    margin: 8px;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    justify-items: flex-start;
    align-items:center;
    align-content:center;

    @media #{$mobile} {
        width: 40%;
    }


    .image_container {
        height: 70%;
        padding: 0;
        width: 100%;
        position:relative;
        text-align: center;
        background-color: white;
        border-radius: 15px 15px 0 0;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        -moz-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);

        .image{
            width:100%;
            max-height:140px;
            padding: 0;
            margin:0;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            text-align:center;
        }

        .special_offer{
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 200px;
            width: 25%;
            height: 25%;
            background-color: #f1d42daf;
            z-index: 10;
            animation: 2s shake;
            animation-duration: infinite;
            border-radius: 0px 15px 0 100px;

            @keyframes shake {
                0% { transform: skewX(-15deg); }
                5% { transform: skewX(15deg); }
                10% { transform: skewX(-15deg); }
                15% { transform: skewX(15deg); }
                20% { transform: skewX(0deg); }
                100% { transform: skewX(0deg); }  
              }
        }

        .sold_out{
            position: absolute;
            display:flex;
            flex-direction:column;
            align-content:center;
            align-items:center;
            width: 100%;
            height: 100%;
            font-size:0.8rem;
            font-family: $font1;
            z-index: 10;
            color:white;
            background-color:rgba(0, 0, 0, 0.37);
            border-radius: 15px 15px 0 0;
        }
    }
    


    .data_container{
        z-index:1;
        height:30%;
        width:100%;
        background-color:white;
        display:flex;
        flex-direction:column;
        align-content:flex-start;
        text-align:center;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        -moz-box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        box-shadow: 3px 4px 5px 0px rgba(214,206,214,1);
        border-radius: 0 0 15px 15px;

        .title{
            background-color:white;
            font-size:1rem;
            color: $color1;
            font-family: $font1;
            padding:0;
            margin:0;
        }

        .price{
            color:rgba(0, 0, 0, 0.842);
            font-size:0.8rem;
            margin:0;padding:0;
        }

        .id{
            color:rgba(0, 0, 0, 0.486);
            font-size:0.6rem;
            border-radius: 0 0 15px 15px;
            margin:0;padding:0;
        }
    }



}








